numpy
pandas
pyarrow
scikit-learn
lightgbm
shap
mlflow>=3.0
redis
fakeredis
pydantic
pydantic-settings
fastapi
uvicorn
httpx
pytest
ruff
matplotlib
matplotlib-inline
kagglehub
kaggle
streamlit
jupyter
ipykernel
nbformat
nbclient
